

.sopa {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.letter, .word {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    background: #000000;
    border-radius: 5px;
    line-height: 30px;
}

.word:hover {
    background: lightgreen;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: #ffffff;
    text-align: center;
}

.contenedor {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pregunta {
    text-align: left;
    margin-bottom: 15px;
}

.pregunta p {
    font-weight: bold;
}

.label-texto {
    
    display: block;
    background: #ffffff;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #f2f3f5;
    cursor: pointer;
    transition: 0.3s;
}

.label-texto :hover {
    background: #b4dadd;

}

.correcto {
    background: #28a745 !important;
    color: white;
    border-color: #28a745;
}

.incorrecto {
    background: #dc3545 !important;
    color: white;
    border-color: #dc3545;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

@media (max-width: 600px) {
    .contenedor {
        width: 90%;
        padding: 15px;
    }
}




.pregunta1 {
    text-align: left;
    margin-bottom: 15px;
}

.pregunta1 p {
    font-weight: bold;
}







.respuesta {
    display: none;
    font-size: 14px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.correcta {
    background: #28a745 !important;
    color: white;
    border-color: #28a745;
}

.incorrecta {
    background: #dc3545 !important;
    color: white;
    border-color: #dc3545;
}

.entrada-oculta:checked + span {
    display: inline-block;
}


