
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; 
    font-family: Arial, sans-serif;
    
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}


.banner {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.banner img {
    max-width: 200px;
}


.menu {
    list-style: none;
    width: 100%;
    background: #333;
    position: relative;
padding: 20px;
}


.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: right;
}

    



#menu-toggle {
    display: none;
}


.menu-items {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu-items li {
    display: inline-block;
    position: relative;
}
.menu-items li:hover ul{
    display: block;

}
.menu-items ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

}
.menu-items ul li {
    width: 100%;
}
.menu-items ul a:hover {
    background: #ff7f2a;
}
.menu-items > li:hover > a {
    background: #ff7f2a;
}
.menu-items a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
    font-size: 18px;
    
}


.submenu {
    display: none;
    position: absolute;
    background: #444;
    top: 100%;
    left: 0;
    list-style: none;
    width: 150px;
}

.submenu li {
    text-align: left;
}

.submenu a {
    padding: 10px;
    display: block;
    color: white;
}


.has-submenu:hover .submenu {
    display: block;
    background-color: antiquewhite;
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
        text-align: left;
        background: #333;
        padding: 10px;
    }

    .menu-items {
        flex-direction: column;
        display: none;
        width: 100%;
        background: #333;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1000;
    }

    
    #menu-toggle:checked ~ .menu-items {
        display: flex;
    }

   
    .submenu {
        position: relative;
        width: 100%;
        background: #444;
        display: none;
    }

    .has-submenu:focus-within .submenu,
    .has-submenu:hover .submenu {
        display: block;
    }
}

.contenido {
    width: 100%;
    max-width: 1200px; 
    padding: 20px;
    text-align: justify;
}


.imagen img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.footer {
    width: 100%;
    background: #222;
    color: white;
    padding: 10px;
    text-align: center;
}
