
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.banner {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.banner img {
    max-width: 200px;
}


.menu {
    width: 100%;
    background: #333;
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: right;
}


#menu-toggle {
    display: none;
}


.menu-items {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu-items li {
    position: relative;
}

.menu-items a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
}


.submenu {
    display: none;
    position: absolute;
    background: #444;
    top: 100%;
    left: 0;
    list-style: none;
    width: 150px;
}

.submenu li {
    text-align: left;
}

.submenu a {
    padding: 10px;
    display: block;
    color: white;
}


.menu-items li:hover .submenu {
    display: block;
}


@media (max-width: 768px) {
    .menu {
        position: relative;
    }

    .menu-icon {
        display: block;
        text-align: center;
        background: #333;
        padding: 10px;
    }

    .menu-items {
        flex-direction: column;
        display: none;
        width: 100%;
        background: #333;
        position: absolute;
        top: 50px;
        left: 0;
    }

    #menu-toggle:checked + .menu-icon + .menu-items {
        display: flex;
    }

    .submenu {
        position: relative;
        display: none;
        width: 100%;
        background: #444;
    }

    .has-submenu:hover .submenu {
        display: block;
    }
}


.contenido {
    width: 90%;
    padding: 20px;
    text-align: justify;
}


.superior {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}


.imagen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagen img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}


.contenido-texto h2 {
    color: #191729;
    font-size: 22px;
    margin-bottom: 10px;
}

.contenido-texto {
    padding: 0;
}

.contenido-texto p {
    font-size: 17px;
    line-height: 1.5;
    padding: 20px;
}


.inferior {
    margin-top: 30px;
    font-size: 17px;
    padding: 20px;
    border-top: 1px solid #e4e4e4;
}

.inferior ul {
    margin-top: 10px;
    padding-left: 20px;
}

.inferior li {
    margin-bottom: 8px;
}

/* Footer */
.footer {
    width: 100%;
    background: #222;
    color: white;
    padding: 10px;
    text-align: center;
}
